body
{
    width: 100%;
    background-color:#F3DB00;
}
.navigation
{
    width: auto;
    height: 100px;
    padding-top: 50px;
    text-align: center;
}
.menubuttons
{
    color: #D9B601;
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,'Open Sans', 'Helvetica Neue', sans-serif;
    padding-left: 30px;
    text-align: center;
}
.photo
{
    margin-right: 900px;
}
a
{
    text-decoration: none;
}
.h11
{
    color: #fff;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,'Open Sans', 'Helvetica Neue', sans-serif;
    
    text-align: center;
    font-size: 160px;
    margin: 50px;
    position: absolute;
    top: 50px;
    left: 0px;
    width: 100%;
}
.h12
{
    color: #fff;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,'Open Sans', 'Helvetica Neue', sans-serif;
    
    text-align: center;
    font-size: 160px;
    margin: 50px;
    position: absolute;
    top: 250px;
    left: 0px;
    width: 100%;
}
.banana
{
    position: relative;
    width: 100%;
    text-align: center;
}
.description
{
    color: #988000;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,'Open Sans', 'Helvetica Neue', sans-serif;
    font: 26px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 470px;
}
.footertext
{
    padding-top: 50px;
    padding-left: 50px;
}
.textmarg
{
    color: #D9B601;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,'Open Sans', 'Helvetica Neue', sans-serif;
    margin-right: 1400px;
    font-size: 20px;
    padding-left: 30px;
    text-align: center;
}